body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 140px;
  height: 100vh;              /* Full screen height */
  position: fixed;            /* Stick to left side */
  top: 0;
  left: 0;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-right: 1px solid rgba(255,255,255,0.1);
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  color: #3b82f6;
}


.large-card {
  width: 100%;
  padding: 50px;
}

textarea {
  width: 50%;
  min-height: 130px;
  font-size: 16px;
}
.dashboard-container {
  width: 100%;
  max-width: 1600px;  /* increase if you want bigger */
}

.stats-container {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.main {
   margin-left: 150px;         /* Same as sidebar width */
  padding: 60px 40px;
  flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html, body {
  height: 100%;
  overflow-y: auto;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.glass {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  animation: fadeIn 0.5s ease-in;
}

.stats-container {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  justify-content: center;
}

.stat-card {
  flex: 1;
  text-align: center;
   width: 200px;
}

textarea {
  width: 93%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background: #3b82f6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2563eb;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: rgba(255,255,255,0.1);
  padding: 12px;
}

td {
  padding: 12px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.badge {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.high {
  background: #ef4444;
}

.medium {
  background: #f59e0b;
}

.low {
  background: #10b981;
}

.spinner {
  border: 5px solid rgba(255,255,255,0.1);
  border-top: 5px solid #3b82f6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}